ComplexShape.xml

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CreateComplexTriangle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="iSideA" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="iSideB" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="iSideC" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateComplexTriangleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateComplexTriangleResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateQuadrilateral">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="iSideA" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="iSideB" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="iSideC" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="iSideD" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateQuadrilateralResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateQuadrilateralResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Create5SidedPolygon">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="iSideA" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="iSideB" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="iSideC" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="iSideD" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="iSideE" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Create5SidedPolygonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Create5SidedPolygonResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Create6SidedPolygon">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="iSideA" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="iSideB" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="iSideC" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="iSideD" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="iSideE" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="iSideF" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Create6SidedPolygonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Create6SidedPolygonResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CreateComplexTriangleSoapIn">
    <wsdl:part name="parameters" element="tns:CreateComplexTriangle" />
  </wsdl:message>
  <wsdl:message name="CreateComplexTriangleSoapOut">
    <wsdl:part name="parameters" element="tns:CreateComplexTriangleResponse" />
  </wsdl:message>
  <wsdl:message name="CreateQuadrilateralSoapIn">
    <wsdl:part name="parameters" element="tns:CreateQuadrilateral" />
  </wsdl:message>
  <wsdl:message name="CreateQuadrilateralSoapOut">
    <wsdl:part name="parameters" element="tns:CreateQuadrilateralResponse" />
  </wsdl:message>
  <wsdl:message name="Create5SidedPolygonSoapIn">
    <wsdl:part name="parameters" element="tns:Create5SidedPolygon" />
  </wsdl:message>
  <wsdl:message name="Create5SidedPolygonSoapOut">
    <wsdl:part name="parameters" element="tns:Create5SidedPolygonResponse" />
  </wsdl:message>
  <wsdl:message name="Create6SidedPolygonSoapIn">
    <wsdl:part name="parameters" element="tns:Create6SidedPolygon" />
  </wsdl:message>
  <wsdl:message name="Create6SidedPolygonSoapOut">
    <wsdl:part name="parameters" element="tns:Create6SidedPolygonResponse" />
  </wsdl:message>
  <wsdl:portType name="ComplexShapeSoap">
    <wsdl:operation name="CreateComplexTriangle">
      <wsdl:input message="tns:CreateComplexTriangleSoapIn" />
      <wsdl:output message="tns:CreateComplexTriangleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateQuadrilateral">
      <wsdl:input message="tns:CreateQuadrilateralSoapIn" />
      <wsdl:output message="tns:CreateQuadrilateralSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Create5SidedPolygon">
      <wsdl:input message="tns:Create5SidedPolygonSoapIn" />
      <wsdl:output message="tns:Create5SidedPolygonSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Create6SidedPolygon">
      <wsdl:input message="tns:Create6SidedPolygonSoapIn" />
      <wsdl:output message="tns:Create6SidedPolygonSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ComplexShapeSoap" type="tns:ComplexShapeSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateComplexTriangle">
      <soap:operation soapAction="http://tempuri.org/CreateComplexTriangle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateQuadrilateral">
      <soap:operation soapAction="http://tempuri.org/CreateQuadrilateral" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create5SidedPolygon">
      <soap:operation soapAction="http://tempuri.org/Create5SidedPolygon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create6SidedPolygon">
      <soap:operation soapAction="http://tempuri.org/Create6SidedPolygon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ComplexShapeSoap12" type="tns:ComplexShapeSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateComplexTriangle">
      <soap12:operation soapAction="http://tempuri.org/CreateComplexTriangle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateQuadrilateral">
      <soap12:operation soapAction="http://tempuri.org/CreateQuadrilateral" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create5SidedPolygon">
      <soap12:operation soapAction="http://tempuri.org/Create5SidedPolygon" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create6SidedPolygon">
      <soap12:operation soapAction="http://tempuri.org/Create6SidedPolygon" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ComplexShape">
    <wsdl:port name="ComplexShapeSoap" binding="tns:ComplexShapeSoap">
      <soap:address location="http://localhost:1157/ComplexShape.asmx" />
    </wsdl:port>
    <wsdl:port name="ComplexShapeSoap12" binding="tns:ComplexShapeSoap12">
      <soap12:address location="http://localhost:1157/ComplexShape.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>